<div class="row">
	<div class="col-md-9 col-xs-9">
		{% var total = 0.0 %}
		<div class="panel panel-default">
			<table class="table table-condensed small">
				<tr>
					<th>Item</th>
					<th>Rate</th>
					<th>Qty</th>
					<th>Amount</th>
				</tr>
				{% if (particulars.length == 0) { %}
					<span class="text-muted">No barcodes scanned.</span>
				{% } else { %}
					{% for (var i=0, l=particulars.length; i<=l-1; i++) { %}
						<tr>	
							<td class="h4">
								{%= particulars[i]["item_code"] %}
								<br>
								{%= particulars[i]["description"] %}
							</td>
							<td class="h4">{%= particulars[i]["rate"] %}</td>
							<td class="h4">{%= particulars[i]["qty"] %}</td>
							<td class="h4">{%= particulars[i]["amt"] %}</td>
						</tr>
						{% total = total + particulars[i]["amt"] %}
					{% } %}
				{% } %}	
			</table>
			
		</div>
	</div>
	<div class="col-md-3 col-xs-3">
		<h4>Total {%= total || 0.0 %}</b4>
	</div>
</div>