<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-default">
			<table style="margin-top: 0px;" class="table table-condensed small">
				<thead>
					<tr>
						<th style="font-size:24px;">Total {%= items_total || 0.00 %}</th>
					</tr>	
					<tr>
						<th>Item</th>
						<th>Rate</th>
						<th style="text-align:center;">Qty</th>
						<th>Amount</th>
						<th>Action</th>
					</tr>
				</thead>	
				{% if (particulars.length == 0) { %}
					<span class="text-muted">No barcodes scanned.</span>
				{% } else { %}
					{% for (var i=0, l=particulars.length; i<=l-1; i++) { %}
						<tr name="item" data-itemcode="{%= particulars[i]["item_code"] %}">	
							<td class="h4">
								<a class="item_name" id="{%= particulars[i]["item_code"] %}" style="cursor:pointer;">
								{%= particulars[i]["item_code"] %}
								<br>
								{%= particulars[i]["description"] %}
								</a>
							</td>
							<td class="h4 item_rate">{%= particulars[i]["rate"] %}</td>
							<td class="qty_td h4 text-center">
								<i style="font-size:16px;cursor:pointer;" class="qty_decrement fa fa-minus-circle" aria-hidden="true"></i>
								<input class="qty form-control" style="display:inline;width:30%;" value="{%= Math.round(particulars[i]["qty"] * 100) / 100 %}" 
								disabled>
								<i style="font-size:16px;cursor:pointer;" class="qty_increment fa fa-plus-circle" aria-hidden="true"></i>
							</td>
							<td class="h4 item_amt">{%= Math.round(particulars[i]["amt"] * 100) / 100 %}</td>
							<td class="action_buttons h4 text-center">
								<i style="font-size:20px;cursor:pointer;color:blue;" class="save_check fa fa-check-square hidden" aria-hidden="true"></i>
								<i style="font-size:20px;cursor:pointer;color:grey;" class="del_item fa fa-times" aria-hidden="true"></i>	
							</td>
						</tr>
					{% } %}
				{% } %}	
			</table>
		</div>
	</div>
</div>