<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-default">
			<ul style="list-style: none">
				{% if (particulars.length == 0) { %}
				<li><span class="text-muted">No barcodes scanned.</span></li>
				{% } else { %}
					{% for (var i=0, l=particulars.length; i<=l-1; i++) { %}
						<li>
							<span class="text-muted">{%= particulars[i]["item_code"] %}</span>
							<span>{%= particulars[i]["description"] %}</span>
						</li>
					{% } %}
				{% } %}	
			</ul>
		</div>
	</div>
</div>