#page-pos .page-body {
	color: black !important;
	font-weight: bolder !important;
	filter: contrast(100%);
}

.pos div {
	color: black !important;
	font-weight: bolder !important;
}

.pos .page-wrapper {
	color: black !important;
	font-weight: bolder !important;
}

.pos .page-wrapper .row {
	color: black !important;
	font-weight: bolder !important;
}

.pos .numeric_keypad{
	color: black !important;
	font-weight: bolder !important;
}

.pos .price-info {
	background-color: black !important;
	position: relative !important;
}

.pos .image-field {
	display: none !important;
}