#page-pos .page-body {
	color: black !important;
	font-weight: bolder !important;
}

.pos div {
	color: black !important;
	font-weight: bolder !important;
}

.pos .page-wrapper {
	color: black !important;
	font-weight: bolder !important;
}

.pos .page-wrapper .row {
	color: black !important;
	font-weight: bolder !important;
}

.numeric_keypad{
	color: black !important;
	font-weight: bolder !important;
}